mixin input-check(title, checked)
  label.input-check
    input.input-check__input(id='skills' type='checkbox' checked=checked data-icheck='input-check__input')
    span.input-check__label.profile-form__label #{title}
