mixin input-radio(title, checked)
  label.input-radio
    input.input-radio__input(type='radio' data-icheck='input-radio__input' name='academy' checked=checked)
    span.input-radio__label.label.profile-form__label #{title}
